.repeat_ver
{
    display: none !important;
}

.post_like
{
    pointer-events: none;
}

.like_wrap
{
    pointer-events: none;
}

.page_current_info {
    display: none;
}

.ads_lef
{
    display: none !important;
}





